= div_for user do
  %div{:class => "thread #{cycle('thread-even','thread-odd')}"}
    .logo-in-thread
      = link_logo_image(user, :size => '32', :url => user_path(user), :title => user.name, :class => "logo logo-user")
    .thread-content
      .thread-text
        = simple_form_for :permission, :url => permission_path(permission), :html => { :method => :put } do |f|
          = select :permission, :role_id, Institution.roles.map { |r| [ t("space.performances.#{r.name.downcase}"), r.id ] }, :selected => permission.role_id
          = f.submit t('_other.update'), :class => "btn btn-small"
      .thread-title
        = link_to(sanitize(user.name),user_path(user),:class=>"unified_user")
        .user-email
          = "(#{user.username}, #{user.email})"
