#institution-form

  = simple_form_for(@institution) do |f|
    #institution-basic-info
      = f.input :name
      = f.input :acronym
      = f.input :user_limit
      = f.input :can_record_limit
    = f.button :wrapped, :value => button_name