= simple_form_for @institution, :html => { :class => 'single-column' } do |f|

  .modal-body
    #institution-basic-info
      = f.input :name
      = f.input :acronym
      = f.input :user_limit
      = f.input :can_record_limit
      = f.input :identifier
      = f.input :force_shib_login
      = f.input :recordings_disk_quota, as: :string, input_html: { value: human_file_size(@institution.recordings_disk_quota) }
      = f.input :recordings_disk_used, :disabled => true, input_html: { value: human_file_size(@institution.recordings_disk_used) }

  .modal-footer
    = f.button :wrapped, :cancel_modal => true, :value => button_name, :class => "btn btn-primary"
