#institution-sidebar
  %h3
    = t('.new')

  = simple_form_for(@institution) do |f|
    = f.input :name
    = f.hint icon_help(t('simple_form.hints.institution.acronym'))
    = f.label :acronym
    = f.text_field :acronym
    = f.button :wrapped, :value => t("_other.create")
