#institution-sidebar
  %h3
    = t('.new')

  = simple_form_for(@institution) do |f|
    = f.input :name
    = f.input :acronym
    = f.input :user_limit
    = f.button :wrapped, :value => t("_other.create")