= simple_form_for @institution, :html => { :class => 'single-column' } do |f|

  .modal-body
    #institution-basic-info
      = f.input :name
      = f.input :acronym
      = f.input :user_limit
      = f.input :can_record_limit

  .modal-footer
    = f.button :submit, :value => button_name, :class => "btn btn-primary"
