.primary-box.form-area
  %h3= t('.title')

  .form-area-content
    - if current_site.shib_enabled?
      .shibboleth-container
        = link_to shibboleth_path do
          = image_tag "rnp/cafe.png", size: "267x100", class: "sign-in-cafe"
        .form-actions
          .local-sign-in-trigger
            = link_to t(".member.non_federated_click"), '#'
          = link_to shibboleth_path, class: 'btn btn-primary btn-sign-in-cafe' do
            = t(".member.shibboleth.click_here")

    .local-sign-in-area
      %h4= t(".member.non_federated_title")
      = simple_form_for "user", :url => user_session_path, :html => { :class => 'form-inline single-column' } do |f|
        = f.input :login, :label => t('.member.email_or_username'), :required => true
        = f.input :password, :label => t('.member.password'), :required => true
        .remember-me
          = f.input :remember_me, :as => :boolean

        %ul.login-options
          %li= link_to t('devise.shared.links.lost_password'), new_password_path('user')
          - if current_site.registration_enabled?
            %li= link_to t('devise.shared.links.register'), register_path
            %li= link_to t("devise.shared.links.resend_confirmation_email"), new_confirmation_path('user')

        = f.button :wrapped, :value => t(".login")
