- page_title t('spaces.admin_tabs.general_options'), :in => @space.name

- spaces_menu_at :admin
= render :partial => 'spaces/menu'

- spaces_admin_menu_at :main
= render :partial => 'admin_tabs'

#edit-space
  .right-column
    #edit-space-current-logo
      = logo_image(@space, :size => '168x128', :class => 'logo logo-uploadable')

      #space-logo-uploader.file-uploader{:'data-endpoint' => update_logo_space_path(@space, :format => :json), :'data-accept' => 'image/*', :'data-max-size' => '5 mb' }

  = simple_form_for @space, :html => { :method => :put, :class => 'single-column' } do |f|
    .left-column
      = f.input :name
      = f.input :permalink , :disabled => true
      = f.input :description, :as => :text, :input_html => { :rows => 5 }
      = f.input :repository
      = f.input :public, :label => t('.public')
      - if current_user.superuser
        - if @space.institution
          - current_institution_id = @space.institution.id
          - current_institution_name = @space.institution.full_name
        = f.input :institution_id, required: false, input_html: { :value => current_institution_id, :class => "institution-select", :data => { :"institution-select-placeholder" => I18n.t("spaces.edit.institution_placeholder"), :"institution-name" => current_institution_name } }

    = f.button :wrapped, :value => t("_other.save")

  #edit-space-other-options
    %h3= t('.other_options')
    .alert.alert-danger
      %span= t('.delete_space')
      = link_to t('.yes_delete'), disable_space_path(@space), :data => { :confirm => t(".delete_confirmation") }, :method => :delete, :class => 'btn btn-small btn-danger'
