- page_title t('spaces.menu.users'), :in => @space.name

- spaces_menu_at :users
= render :partial => 'spaces/menu'

- if params[:space_id]
  - page_title t('spaces.menu.users'), :in => @space.name
  - spaces_menu_at :users
  #user-list.content-block
    .content-block-header
      %h3= t('user.index.user_list.header_spaces', :count => @users.size)
    .content-block-middle
      - for user in @users
        = render :partial => 'users/detailed_user', :locals => { :user => user }

- elsif params[:institution_id]
  #user-list.content-block
    .content-block-header
      %h2= @institution.name
      %h3= t('user.index.user_list.header_institutions', :count => @users.size)

    .content-block-middle
      - for user in @users
        = render :partial => 'users/detailed_user_institution', :locals => { :user => user }
