= render :partial => 'menu'

= content_for :sidebar do
  %h3
    = t('institutions.form.new')
  = render :partial => 'institutions/form', :locals => { :@institution => Institution.new, :button_name => t('institutions.new.button') }

#manage
  #institutions
    - for institution in @institutions
      = render :partial => 'institution', :locals => { :institution => institution }

- nav = page_navigation_links @institutions
- unless nav.nil?
  .content-block-footer= nav
