- content_for :page_header do
  %h2= t(".headline")

#content

  #login-box.form-area
    %h3= t('.local_auth.title')

    .form-area-content
      = render :partial => 'sessions/login_form'
      .action-links
        %ul
          %li= link_to t('.login.lost_password'), new_user_password_path

  - if current_site.shib_enabled?

    #federation-box.form-area
      %h3= t('.login.title')

      .form-area-content
        = link_to shibboleth_path do
          = image_tag "logos/shib_federation_big.jpg", :size => "390x60", :class => "sign-in-cafe", :alt => t('.login.cafe_alt')
          %div= t('.login.click_here')
