-# = render 'frontpage/sign_in_and_title'

.section-1
  .headline
    = t(".section-1.headline").html_safe
  = link_to t(".section-1.login"), login_path, class: "btn btn-large btn-transp"

.section-2
  = image_tag "rnp/site_logo_conferencia_web.png", size: "513x70"
  .headline
    = t(".section-2.headline")

.section-3
  %ul
    %li.feature-block.feature-block-1
      .content
        .title= t(".section-3.block-security.title")
        .text= t(".section-3.block-security.text")
    %li.feature-block.feature-block-2
      .content
        .title= t(".section-3.block-spaces.title")
        .text= t(".section-3.block-spaces.text")
    %li.feature-block.feature-block-3
      .content
        .title= t(".section-3.block-scheduling.title")
        .text= t(".section-3.block-scheduling.text")

.section-4
  %ul
    %li= link_to t('.links.user_guide'), current_site.external_help
    %li= link_to t('.links.requirements'), "https://wiki.rnp.br/pages/viewpage.action?pageId=89112372#ManualdoUsuáriodoserviçodeconferênciaweb-Requisitosdeuso"
    %li= link_to t('.links.service_page'), "https://www.rnp.br/servicos/servicos-avancados/conferencia-web"
    %li= link_to t('.links.mconf_tec'), "http://mconf.com"
