- content_for :navbar do
  #navbar
    #main-logo
      %a.title{:href => root_path}= image_tag 'logos/mconf-white-transp.png', :size => '231x120'

- content_for :page_header do
  = t(".headline")

#content

  #login-box.form-area
    %h2= t('.other.title')
    .sign-in-local
      %span= t('.other.local_account_title')
      = link_to login_path do
        = icon_login
        = t('.other.local_account_text')
    - if current_site.registration_enabled?
      .sign-in-not-on-cafe
        %span= t('.other.register_title')
        = link_to register_path do
          = icon_register
          = t('.other.register_text')

  - if current_site.shib_enabled?
    #registration-box.form-area
      %h2= t('.login.title')
      = link_to shibboleth_path do
        = image_tag "logos/shib_federation_big.jpg", :size => "400x68", :class => "sign-in-cafe", :alt => t('.login.cafe_alt')
        %div= t('.login.click_here')
