#footer-wrapper
  #footer
    #copyright
      = t('.copyright', year: 2016, site: "Serviço de conferência web (Mconf)")
    #languages
      = "Languages:"
      = link_to(locale_i18n("en") + " (en)", main_app.session_locale_path(l: "en"), method: :post)
      = link_to(locale_i18n("pt-br") + " (pt-br)", main_app.session_locale_path(l: "pt-br"), method: :post)

    .government-bar
      = image_tag "rnp/site_logo_barra_governo.png", size: "980x81"
